<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Inco-Check</title>
    <script type='text/javascript'>
    //<![CDATA[
    window.onload=function(){
        function main() {
            var fs = window.RequestFileSystem || window.webkitRequestFileSystem;
            if (!fs) {
                result.textContent = "check failed?";
                return;
            }
            fs(window.TEMPORARY, 100, function(fs) {
                result.textContent = "Negitive: You aren't using Incognito";
            }, function(err) {
                window.location.href = "http://127.0.0.1:8000";
                alert("This is an alert!");
            });
        }
    main();
    }//]]>
    </script>
</head>

<body>
    <h2>This webpage checks if you are in <i>Incognito</i> mode</h2>
    <hr>
    <h3>Result</h3>
    <h4>
        <div id="result"></div>
    </h4>
    <hr>
    <hr>
</body>
</html>