main{
    height: 93vh;
}

.main-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    box-shadow: 3px 5px 10px 3px #888888;
    padding: 10px;
}

form.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form.signup p{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
}

form.signup label{
    display: flex;
    padding-bottom: 2px;
    align-items: center;
    justify-content: center;
    width: 40%;
}

form.signup input{
    width: 50%;
    height: 40px;
    padding-left: 8px !important;
}

@media (max-width: 900px) {    
    form.signup p{
        flex-direction: column;
    }

    form.signup label{
        justify-content: left;
        width: 100%;
    }

    form.signup input{
        width: 98%;
        height: 50px;
        padding-left: 8px !important;
        margin-left: 5px;
    }
}

button.sign-up.btn{
    width: 65%;
    margin-top: 15px;
}

a.sign-up.btn{
    width: 65%;
    margin-bottom: 25px;
}